[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "*"
st-annotated-text = "*"
spacy-pkuseg = "<0.1.0,>=0.0.27"
docx2txt = "*"
pypdf2 = "*"
matplotlib = "*"
matplotlib-venn = "*"
python-dateutil = "*"
seaborn = "*"
openai = "*"
scikit-learn = "*"
plotly = "*"
beautifulsoup4 = "*"
iso3166 = "*"
selenium = "*"
pymongo = "*"
python-dotenv = "*"
webdriver-manager = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
